<div class="box">
    <div class="container">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            
              <div class="item active">
                <ng-container *ngIf="blog_1.imageLocation; else elseTemplate">
                  <img src="assets/img/blog_images/{{blog_1.imageLocation}}">
                </ng-container>
                <ng-template #elseTemplate>
                  <img src="assets/img/blog_images/no-image.jpg">
                </ng-template>
                 <div class="carousel-caption">
                  <a routerLink="/bog/{{blog_1.bid}}" target="_blank"><h3><b style="color: black;">{{blog_1.title}}</b></h3></a>
                </div>
              </div><!-- End Item -->
       
               <div class="item">
                <ng-container *ngIf="blog_2.imageLocation; else elseTemplate">
                  <img src="assets/img/blog_images/{{blog_2.imageLocation}}">
                </ng-container>
                <ng-template #elseTemplate>
                  <img src="assets/img/blog_images/no-image.jpg">
                </ng-template>
                 <div class="carousel-caption">
                  <a routerLink="/blog/{{blog_2.bid}}" target="_blank"><h3><b style="color: black;">{{blog_2.title}}</b></h3></a>
                
                </div>
              </div><!-- End Item -->
              
              <div class="item">
                <ng-container *ngIf="blog_3.imageLocation; else elseTemplate">
                  <img src="assets/img/blog_images/{{blog_3.imageLocation}}">
                </ng-container>
                <ng-template #elseTemplate>
                  <img src="assets/img/blog_images/no-image.jpg">
                </ng-template>
                 <div class="carousel-caption">
                  <a routerLink="/blog/{{blog_3.bid}}" target="_blank"><h3><b style="color: black;">{{blog_3.title}}</b></h3></a>
                 
                </div>
              </div><!-- End Item -->

              <div class="item">
                <ng-container *ngIf="blog_4.imageLocation; else elseTemplate">
                  <img src="assets/img/blog_images/{{blog_4.imageLocation}}">
                </ng-container>
                <ng-template #elseTemplate>
                  <img src="assets/img/blog_images/no-image.jpg">
                </ng-template>
                 <div class="carousel-caption">
                  <a routerLink="/blog/{{blog_4.bid}}" target="_blank"><h3><b style="color: black;">{{blog_4.title}}</b></h3></a>
                  
                </div>
              </div><!-- End Item -->
                      
            </div><!-- End Carousel Inner -->
      
      
              <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0"><a href="#">{{blog_1.title}}<small>By {{blog_1.user.name}}</small></a></li>
                <li data-target="#myCarousel" data-slide-to="1"><a href="#">{{blog_2.title}}<small>By {{blog_2.user.name}}</small></a></li>
                <li data-target="#myCarousel" data-slide-to="2"><a href="#">{{blog_3.title}}<small>By {{blog_3.user.name}}</small></a></li>
                <li data-target="#myCarousel" data-slide-to="3"><a href="#">{{blog_4.title}}<small>By {{blog_4.user.name}}</small></a></li>
              </ul>
      
      
          </div><!-- End Carousel -->

<!-- End Slider -->

     	<div class="row"> 	 
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let blog of blogs | paginate: { itemsPerPage: 6, currentPage: p }">
					<div class="box-part text-center">   
                        <i class="fa fa-book fa-3x" aria-hidden="true"></i>   
						<div class="title">
							<h4>{{blog.title}}</h4>
						</div>  
						<div class="text">
                            <span>By {{blog.user.name}} <br>
                                {{blog.createdAt}}
                            </span>
						</div> 
						<a routerLink="/blog/{{blog.bid}}"> more</a>   
					</div>
				</div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>  