<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add Blog</h4>
                    </div>
                    <div class="content">
                        <form #f="ngForm" method="POST" (ngSubmit)="blogSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" name="title" required [(ngModel)]="blogTitle" #title="ngModel">
                                        <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                                            <div *ngIf="title.errors.required">Title is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Image Upload</label>
                                        <input type="file" required class="form-control"  [multiple]="multiple" #fileInput>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <ckeditor [editor]="Editor" name="content" required [(ngModel)]="blogContent" #content="ngModel"></ckeditor>         
                                    </div>
                                </div>
                            </div>      

                            <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="!f.valid">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
